.container-Home{
    width: 100%;
    height: 640px;
    background: linear-gradient(
        to bottom,
        #2C3333 0%,
        #2C3333 50%,
        #1D3838 50%,
        #1D3838 100%
      );
    display: flex;
    flex: 1 1;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.container-foto{
    display: flex;
    width: 75%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: end;
    margin: 50px;
}
.container-capt{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center; 
}
.caption-Home{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.caption-Home h3{
    font-size: 24px;
    text-align: justify;
}
.caption-Home h4{
    font-size: 20px;
    width: 75%;
    text-align: justify;
}
.container-foto img{
    height: 300px;
    width: 250px;
    object-fit: cover;
    box-shadow: -20px 20px 10px rgb(37, 37, 37);
}
@media only screen and(max-width: 800px){
    .container-foto{
        display: flex;
        width: 55%;
        height: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: end;
        margin: 50px;
        background-color: #ffffff;
    }
    .container-foto img{
        height: 150px;
        width: 100px;
        object-fit: cover;
        box-shadow: -20px 20px 10px rgb(37, 37, 37);
    }
    .caption-Home h3{
        font-size: 12px;
        text-align: justify;
    }
    .caption-Home h4{
        font-size: 10px;
        width: 75%;
        text-align: justify;
    }
}